span.header
  a(href='') Home
  a(href='') Logout
  a(href='/users/login') My Account
form#searchForm
  input#searchText.form-control(type='text' placeholder='Enter search')
button(onclick='') Search
