doctype html
link(rel='stylesheet' href='addMovieStyle.css')
script(src='myscripts.js')
span.header
  a(href='') Home
  a(href='') Logout
  a(href='') My Account
input#searchInput(type='text' placeholder='Movie, Person, Keyword...' name='search' required='')
button(onclick='') Search
h2 Add Movies
#addMovieDIV.container
  label(for='mname')
    b Movie Name
  input#mnameInput(type='text' placeholder='Enter Movie Name' name='mname' required='')
  label(for='wname')
    b Writer Name(s) (seperate by comma)
  input#wnameInput(type='text' placeholder='Enter Writer Name(s)' name='wname' required='')
  label(for='dname')
    b Director Name(s) (seperate by comma)
  input#dnameInput(type='text' placeholder='Enter Director Name(s)' name='dname' required='')
  label(for='aname')
    b Actor Name(s) (seperate by comma)
  input#anameInput(type='text' placeholder='Enter Actor Name(s)' name='aname' required='')
  button(onclick='') Add Movie
|   This is incomplete
