doctype html
link(rel='stylesheet' href='addPersonStyle.css')
script(src='myscripts.js')
span.header
  a(href='') Home
  a(href='') Logout
  a(href='') My Account
input#searchInput(type='text' placeholder='Movie, Person, Keyword...' name='search' required='')
button(onclick='') Search
h2 Add People
#addPersonDIV.container
  label(for='pname')
    b Person Name
  input#pnameInput(type='text' placeholder='Enter Name' name='pname' required='')
  button(onclick='') Add
