doctype html
link(rel='stylesheet' href='forgotPasswordStyle.css')
script(src='myscripts.js')
h2 Forgot Your Password
#forgotDIV.container
  label(for='fUname')
    b Username
  input#fUnameInput(type='text' placeholder='Enter Username' name='fUname' required='')
  button(onclick='') Get Password
  label#fPsw forgotten password will be displayed in this label
