doctype html
link(rel='stylesheet' href='homeStyle.css')
script(src='serverApp.js')
span.header
  a(href='') Logout
  a(href='') My Account
input#searchInput(type='text' placeholder='Movie, Person, Keyword...' name='search' required='')
button(onclick='') Search
#movieListDIV
