<!DOCTYPE html>
<html>

<link rel="stylesheet" href="homeStyle.css">

<span class="header"><a href="">Logout</a> <a href="">My Account</a></span>
<input id="searchInput" type="text" placeholder="Movie, Person, Keyword..." name="search" required>
<button onclick="">Search</button>

<div id="movieListDIV">
</div>

</html>
