  body {
    background-color: lightblue;
    text-align: center;
  }

  h2 {
    color: blue;
    text-align: center;
    font-family: verdana;
    font-size: 30px;
  }

  label{
    text-align: center;
    font-family: verdana;
    font-size: 16px;
  }


  input[type=text], input[type=password] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    font-family: verdana;
    background-color: blue;
    color: white;
    padding: 12px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 20%;
  }

  button:hover {
    opacity: 0.8;
  }

  span.psw {
    text-align: center;
    font-family: verdana;
  }
