<!DOCTYPE html>
<html>

<link rel="stylesheet" href="movieViewStyle.css">

<span class="header"><a href="">Home</a> <a href="">Logout</a> <a href="">My Account</a></span>
<input id="searchInput" type="text" placeholder="Movie, Person, Keyword..." name="search" required>
<button onclick="">Search</button>

<div id="movieInfoDIV">
</div>

<div id="keywordsDIV">
</div>

<div id="peopleDIV">
</div>

<div id="similarDIV">
</div>

<div id="reviewsDIV">
</div>

<div id="verdictDIV">
</div>

</html>
