<!DOCTYPE html>
<html>

<link rel="stylesheet" href="personViewStyle.css">

<span class="header"><a href="">Home</a> <a href="">Logout</a> <a href="">My Account</a></span>
<input id="searchInput" type="text" placeholder="Movie, Person, Keyword..." name="search" required>
<button onclick="">Search</button>

<div id="moviesDIV">
</div>

<div id="collaboratorsDIV">
</div>

<button name="followUser" id="followUser" onclick="">Follow</button>

</html>
