doctype html
link(rel='stylesheet' href='userViewStyle.css')
script(src='serverApp.js')
span.header
  a(href='') Home
  a(href='') Logout
  a(href='') My Account
input#searchInput(type='text' placeholder='Movie, Person, Keyword...' name='search' required='')
button(onclick='') Search
#reviewsDIV
#peopleFollowedDIV
button#followUser(name='followUser' onclick='') Follow
