doctype html
link(rel='stylesheet' href='userProfileStyle.css')
script(src='serverApp.js')
span.header
  a(href='') Home
  a(href='') Logout
  a(href='') My Account
input#searchInput(type='text' placeholder='Movie, Person, Keyword...' name='search' required='')
button(onclick='') Search
#reviewsDIV
#peopleFollowedDIV
#usersFollowedDIV
#recommendedDIV
button#contributer(name='contributer' onclick='') Become a contributer
button#regular(name='regular' onclick='') Become a regular
