include ../partials/header
h2 Add Movies By Url
#addMovieUrlDIV.container
br
| #{error}
br
form(method='POST', action='/movies/addbyurl')
  #form-group
    label(for='murl')
      b IMDB Url:    
    input#mnameInput(type='text' placeholder='Enter IMDB Url' name='murl' required='')

  button.btn.btn-primary(type='submit') Add Movie
