include ../partials/header

  .form-group.row.mx-sm-5.text-left
    .col
      h2 Add People
      #addPersonDIV.container
      form(method='POST', action='/people/add')
        #form-group
          label(for='name')
            b Name:
          br 
          input#nameInput(type='text' placeholder='Enter Name' name='name' required='')
        br
        button.btn.btn-primary(type='submit') Add
