include ../partials/header
h2 Add People
#addPersonDIV.container


form(method='POST', action='/people/add')
  #form-group
    label(for='name')
      b Name: 
    input#nameInput(type='text' placeholder='Enter Name' name='name' required='')

  #form-group
    label(for='work')
      b Work (optional): 
    input#workInput(type='text' placeholder='Enter Works' name='work')

  #form-group
    label(for='type')
      b Role in this work: 
      br
      input(type='checkbox' name="actor") 
      |Actor
      br
      input(type='checkbox' name="writer") 
      |Writer
      br
      input(type='checkbox' name="director") 
      |Director
      br
  button.btn.btn-primary(type='submit') Add
