include ../partials/header
h2 Add People
#addPersonDIV.container
  label(for='pname')
    b Person Name
  input#pnameInput(type='text' placeholder='Enter Name' name='pname' required='')
  button(onclick='') Add
