include ../partials/header
h2 Edit Movies #{title}
#addMovieDIV.container

form(method='POST', action='/movies/edit'+movie.id)
  #form-group
    label(for='title')
      b Movie Name:   
    input#mnameInput(type='text' placeholder='Edit Movie Name' name='title' required='')

  #form-group
    label(for='rated')
      b Rated: 
    input#dnameInput(type='text' placeholder='Edit Rated' name='rated' required='')  

  #form-group
    label(for='released')
      b Released Year:  
    input#dnameInput(type='text' placeholder='Edit The Released Year' name='released' required='') 

  #form-group
    label(for='language')
      b Language:  
    input#dnameInput(type='text' placeholder='Edit The Language' name='language' required='')  

  #form-group
    label(for='wname')
      b Writer Name(s) (seperate by comma): 
    input#wnameInput(type='text' placeholder='Edit Writer Name(s)' name='wname' required='')
  #form-group
    label(for='dname')
      b Director Name(s) (seperate by comma): 
    input#dnameInput(type='text' placeholder='Edit Director Name(s)' name='dname' required='') 

  #form-group
    label(for='aname')
      b Actor Name(s) (seperate by comma):  
    input#anameInput(type='text' placeholder='Edit Actor Name(s)' name='aname' required='')  

  #form-group
    label(for='genre')
      b Genre(s) (seperate by comma):  
    input#anameInput(type='text' placeholder='Edit Genre(s)' name='genre' required='')  

  #form-group
    label(for='runtime')
      b Run Time:  
    input#anameInput(type='text' placeholder='Update Runtime' name='runtime' required='')  

  button.btn.btn-primary(type='submit') Submit

