include ../partials/header
form
  .form-group.mx-sm-5.text-center
    br
    h2 Recover Your Password
  .form-group.row.mx-sm-5.text-center
    .col-sm-4
    .col-sm-4
      label(for='fUname')
        b Username
      input#fUnameInput.form-control(type='text' placeholder='Enter Username' name='fUname' required='')
  .form-group.mx-sm-5.text-center
    button.btn.btn-primary(onclick='') Get Password
  .form-group.mx-sm-5.text-center
    label#fPsw YOUR FORGOTTEN PASSWORD
