include ../partials/header
form(method='POST', action='/users/forgotPassword')
  .form-group.mx-sm-5.text-center
    br
    h2 Forgot your password?
    br
  .form-group.row.mx-sm-5.text-center
    .col-sm-4
    .col-sm-4
    
    
      br
      br
      label(for='email')
        b Email
      input#emailInput.form-control(type='text', placeholder='Enter your eamil', name='email')
      br
      |#{error}
  .form-group.text-center
    button.btn.btn-primary(type='submit') Submit
    
