include ../partials/header
form
  .form-group.row.mx-sm-5.text-center
    .col-sm-4
    .col-sm-4
      br
      br
      br
      a(style='font-style:italic; font-weight:bold; font-size: 40px;' href='/movies') Movies
      br
      br
      br
      a(style='font-style:italic;font-weight:bold;font-size: 40px;' href='/people') People
      br
      br
      br
      a(style='font-style:italic;font-weight:bold;font-size: 40px;' href='/users') Users
