include ../partials/header
form
  .form-group.row.mx-sm-5.text-left
    .col
      a(style='font-style:italic; font-weight:bold; font-size: 80px;' href='/movies') View Movies
      br
      br
      a(style='font-style:italic;font-weight:bold;font-size: 80px;' href='/people') View People
      br
      br
      a(style='font-style:italic;font-weight:bold;font-size: 80px;' href='/users') View Users
