include ../partials/header
form(method='POST', action='/users/login')
  .form-group.mx-sm-5.text-center
    br
    h2 Login
  .form-group.row.mx-sm-5.text-center
    .col-sm-4
    .col-sm-4
      label(for='username')
        b Username
      input#unameInput.form-control(type='text', placeholder='Enter Username', name='username')
      br
      label(for='password')
        b Password
      input#pswInput.form-control(type='password', placeholder='Enter Password', name='password')
  .form-group.text-center
    button.btn.btn-primary(type='submit') Login
    br
    br
    a.form-text(href='/users/forgotPassword') Forgot your password?
  .form-group.text-center
    br
    br
    label
      b New User?
      br
    a(href='/users/register') 
      button.btn.btn-primary(type="button") Sign up
