include ../partials/header
form
  .form-group.row.mx-sm-5.text-center
      each movie in movies
        .col-sm-2
          - var img = movie.poster
          - var id = movie.id
          a(style="font-weight:bold;font-style:italic;color:black" href="http://localhost:3000/movies/" + id) #{movie.title}
            br
            br
            img(src=img width="150" height="200")
          br
          br
          br
      - var length = qstring.length
      if current > 1
        - let url = "/movies?page=" + (current-1)
        - if(length > 0){ url += "&" + qstring; }
        .col-sm-2
          a(style="font-weight:bold;font-size: 18px;" href=url) Previous
      - url = "/movies?page=" + (current+1)
      - if(length > 0){ url += "&" + qstring; }
      .col-sm-2
        a(style="font-weight:bold;font-size: 18px;" href=url) Next
