include ../partials/header
//-
  When viewing the page for a particular person, the user must be able to:
  1. See a history of all of this person’s work. Each movie entry should allow the
  user to navigate to that movie’s page.
  2. See a list of frequent collaborators of this person. That is, a list of people this
  person has worked with the most, according to your database information.
  3. Choose to follow this person. If a user follows a person, the user should
  receive a notification any time a new movie is added to the database that
  involves this person, or any time this person is added to an existing movie.

