include ../partials/header
form(method='POST', action='/users/register')
  .form-group.mx-sm-5.text-center
    br
    h2 Sign Up
  .form-group.row.mx-sm-5.text-center
    .col-sm-4
    .col-sm-4
      label(for='username')
        b Username
      input#unameInput.form-control(type='text', placeholder='Enter Username', name='username')
      br
      label(for='password')
        b Password
      input#pswInput.form-control(type='password', placeholder='Enter Password', name='password')
      label(for='password2')
        b Confirm Password
      input#pswInput.form-control(type='password', placeholder='Confirm Password', name='password2')
  .form-group.text-center
    button.btn.btn-primary(type='submit') Sign Up
    
   
  .form-group.text-center
    br
    br
    label
      b Alreaday have an account?
    br
    a(href='/users/login') 
      button.btn.btn-primary(type="button") Log In
