include ../partials/header
div.text-center
  h2 Welcome #{username}!
br
#reviewsDIV
div.text-center
  p My Reviews 
br
#peopleFollowedDIV
div.text-center
  a Followed People 
br
#usersFollowedDIV
div.text-center
  a.form-text(href='/followedView') Followed Users 
  br
#recommendedDIV
div.text-center
  p Recommended for you
  br

form(method='POST', action='/users/profile')
div.text-center
  button#contributer(name='contributer' onclick='') #{contributing}
