include ../partials/header
div.text-center
  h2 Welcome #{user.username}!
br
#reviewsDIV
div.text-center
  p My Reviews
  if user.reviews.length > 0
    each review in user.reviews
      a(href="http://localhost:3000/reviews/" + review) #{review}, 
br
#peopleFollowedDIV
div.text-center
  a Followed People 
  br
  if user.followedPeople.length > 0
    each id in user.followedPeople
      a(href="http://localhost:3000/people/" + id) #{id}, 
br
br
#usersFollowedDIV
div.text-center
  a Followed Users 
  br
  if user.followedUsers.length > 0
    each id in user.followedUsers
      a(href="http://localhost:3000/users/" + id) #{id}
      | &nbsp; 
      a(href="http://localhost:3000/users/unfollow/" + id) Unfollow
      br
br

#recommendedDIV
div.text-center
  p Recommended for you
  br

div.text-center
  a(href='/users') see all users
  br
  a(href='/movies') Movies

form(method='POST', action='/users/profile')
  div.text-center
    if user.contributing==="n"
      input.btn.btn-primary(type='submit', value='Become a contributing user') 
    else
      input.btn.btn-primary(type='submit',value='Become a regular user') 

