include ../partials/header
#UserViewDIV
|Name: 
|#{display_user.username}
br
|Contributing: 
|#{display_user.contributing}
br
|Follow Users: 
if display_user.followedUsers.length > 0
    each id in display_user.followedUsers
        a(href="http://localhost:9999/users/" + id) #{id}, 
br
|Follow People: 
if display_user.followedPeople.length > 0
    each id in display_user.followedPeople
        a(href="http://localhost:9999/people/" + id) #{id}, 
br
#peopleFollowedDIV

  a(href="http://localhost:9999/users/unfollow/" + display_user.id) Unfollow
  br
  a(href="http://localhost:9999/users/follow/" + display_user.id) Follow
